body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #222;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: #fff;
    margin-top: 20px;
}
